{% extends 'proyecto_cursoApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block tituloPagina %}
Crear Comentario - Proyectando Cursos
{% endblock %}

{% block contenidoPagina %}
<div class="row gx-5 justify-content-center">
    <div class="col-lg-5">
        <form action="" class="" method="post">
            <h2> Crear un nuevo comentario</h2>
            {% csrf_token %}

            {{ formulario | crispy }}

            <button class="btn btn-outline-success my-3 d-grid gap-2 col-4" type="submit">Enviar comentario</button>
        </form>
    </div>
</div>
{% endblock %}